.button-component {
  font-size: 1.5em;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: none;
}

.button-component-primary {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.button-component-secondary {
  color: var(--primary-text-color);
  background-color: var(--secondary-color);
}
